.mobile-nav-wrapper {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 320px;
	z-index: 9;
	background-color: var(--footer-bg);
	padding: 30px 30px;
	color: var(--footer-texColor);

	a {
		color: var(--footer-texColor);
		transition: color 0.2s ease-in;

		&:hover {
			color: #fff;
		}
	}

	&--open {
		display: block;
	}
}

.mobile-nav-header {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.mobile-cart {
	font-size: 22px;
	font-weight: 500;

	display: flex;
	gap: 20px;
	align-items: center;
	flex-grow: 1;

	padding-right: 20px;
	border-right: 1px solid rgba(255, 255, 255, 1);
}

/* Nav */
.mobile-nav {
	display: grid;
	gap: 20px;
	font-size: 20px;
}

.mobile-nav__item {
}
.mobile-nav__link {
}
.mobile-nav__link--dropdown {
}

/* SubNav */

.mobile-sub-nav {
	padding: 20px 0 0 20px;
	display: grid;
	gap: 14px;
	font-size: 16px;
}
.mobile-sub-nav__item {
}
.mobile-sub-nav__link {
}
